<div class="section experience teal" id="experience">
    <div class="container">
      	<div class="row">
      	    <div class="col s12">
      	 	  <h1 class="white-text">Experience</h1>
      	 	  <div class="divider"></div>
      	    </div>
        </div>

      	<div class="row">
      		<div class="section">
      	 	    <div class="col s12 m6 l6">
    	 	      <img src="/images/experience/itcinema.jpg" alt="It Cinema Logo" class="circle responsive-img experience">
    	        </div>
      	 	    <div class="col s12 m6 l6">
      	          <h2 class="white-text experience1">it cinema.</h2>
      	          <p class="white-text"><strong>2012-2015</strong></p>
    		      <ul>
    			    <li><i class="tiny material-icons experience">chevron_right</i> Web Developer (Ruby on Rails, Wordpress)</li>
    			    <li><i class="tiny material-icons experience">chevron_right</i> Graphic Designer (Adobe Photoshop, Illustrator)</li>
        		    <li><i class="tiny material-icons experience">chevron_right</i> Photo Editor (Adobe Photoshop)</li>
    			    <li><i class="tiny material-icons experience">chevron_right</i> Video Editor (Adobe Premiere, After Effects)</li>
    			    <li><i class="tiny material-icons experience">chevron_right</i> Media Crew Leader</li>
    			    <li><i class="tiny material-icons experience">chevron_right</i> Photographer</li>
    			    <li><i class="tiny material-icons experience">chevron_right</i> Videographer</li>
    		      </ul>
    	        </div>
            </div>
    	</div>
              <div class="divider"></div>
        <div class="row">
            <div class="section">
        	    <div class="col s12 m6 l6">
    	 	      <img src="/images/experience/maycreate.jpg" alt="May Create Logo" class="circle responsive-img experience">
    	        </div>
        	    <div class="col s12 m6 l6">
                  <h2 class="white-text experience2">Maycreate</h2>
      	           <p class="white-text"><strong>2015</strong></p>
    		       <ul>
    			     <li><i class="tiny material-icons experience">chevron_right</i> Web Developer (Ruby on Rails, Wordpress, Drupal)</li>
    		       </ul>
    		    </div>
    	    </div>
        </div>    
    	    <div class="divider"></div>
    	<div class="row">    
    	    <div class="section">
    	    	<div class="col s12 m6 l6">
    	 	      <img src="/images/experience/helm.jpg" alt="Helm logo" class="circle responsive-img experience">
    	 	    </div>
    	 	    <div class="col s12 m6 l6">
    		       <h2 class="white-text experience3">Helm Agency</h2>
      	           <p class="white-text"><strong>2016</strong></p>
    		       <ul>
    		         <li><i class="tiny material-icons experience">chevron_right</i>Owner</li>
    			     <li><i class="tiny material-icons experience">chevron_right</i> Web Developer (Ruby on Rails)</li>
    			      <li><i class="tiny material-icons experience">chevron_right</i> Graphic Designer (Adobe Photoshop, Illustrator)</li>
    		       </ul>
    	        </div>
            </div>
        </div>
    </div>
</div>