<div class="section profile blue-grey darken-4" id="profile">
    <div class="row">
        <div class="container">
      	    <div class="col s12">
      	      <h2 class="white-text">Profile</h2>
      	      <div class="divider"></div>
      	      <p class="white-text"><strong>Name:</strong> Russell Kompinski</p>
              <p class="white-text"><strong>Phone:</strong> 828-719-2725</p>
              <p class="white-text"><strong>email:</strong> <a href="mailto:rskompinski@gmail.com" class="white-text">rskompinski@gmail.com</a></p>
      	      <p class="white-text"><strong>Titles:</strong> Web Developer, Crew Leader, Photographer/Videographer</p>
      	      <p class="white-text"><strong>Locations:</strong> Boulder, CO; Spring Hill, FL; Tampa, FL; Chattanooga, TN</p>
            </div>
        </div>
    </div>
</div>