<div class="section technology white" id="technology">
    <div class="container">
        <div class="row">
      	    <div class="col s12">
      	      <h1>Technology</h1>
      	      <div class="divider"></div>
      	    </div>
      	</div>

    <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Languages</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/languages/ruby.jpg" alt="Ruby Logo">         
                    </div>
                        <div class="card-content">
                          <p>Ruby</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/languages/html5.jpg" alt="Html5 Logo">         
                    </div>
                        <div class="card-content">
                          <p>HTML5</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/languages/css3.jpg" alt="Css3 Logo">         
                    </div>
                        <div class="card-content">
                          <p>CSS3</p>
                        </div>
                </div>
            </div>

             <div class="col s6 m3 l3">
                <div class="card">
                    <div class="card-image">
                    <img src="/images/technology/languages/javascript.jpg" alt="javascript Logo">         
                    </div>
                        <div class="card-content">
                          <p>Javascript</p>
                        </div>
                </div>
            </div>

        </div> <!-- end of lang row 1 -->
    </div> <!-- end of lang section -->
 <div class="divider"></div>

    <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Preprocessors</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/preprocessors/sass.jpg" alt="Sass Logo">         
                    </div>
                        <div class="card-content">
                          <p>Sass</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/preprocessors/coffeescript.jpg" alt="CoffeeScript Logo">        
                    </div>
                        <div class="card-content">
                          <p>CoffeeScript</p>
                        </div>
                </div>
            </div>

            

        </div> <!-- end of preprocessors row 1 -->
    </div> <!-- end of preprocessors section -->
           <div class="divider"></div>

    <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Frameworks</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/frameworks/rails.jpg" alt="Rails Logo">         
                    </div>
                        <div class="card-content">
                          <p>Rails</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/frameworks/bootstrap.jpg" alt="Bootstrap Logo">         
                    </div>
                        <div class="card-content">
                          <p>Bootstrap</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/frameworks/materialize.jpg" alt="MaterializeCss Logo">         
                    </div>
                        <div class="card-content">
                          <p>Materialize</p>
                        </div>
                </div>
            </div>

        </div> <!-- end of frameworks row 1 -->
    </div> <!-- end of frameworks section -->
 <div class="divider"></div>    
     
    <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Data</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/data/postgresql.jpg" alt="Postgresql Logo">         
                    </div>
                        <div class="card-content">
                          <p>Postgresql</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/data/mysql.jpg" alt="MySql Logo">         
                    </div>
                        <div class="card-content">
                          <p>MySql</p>
                        </div>
                </div>
            </div>

        </div> <!-- end of data row 1 -->
    </div> <!-- end of data section -->
 <div class="divider"></div>      

      <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Web Servers</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/webservers/nginx.jpg" alt="Nginx Logo">         
                    </div>
                        <div class="card-content">
                          <p>Nginx</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/webservers/apache.jpg" alt="Apache Logo">        
                    </div>
                        <div class="card-content">
                          <p>Apache</p>
                        </div>
                </div>
            </div>

        </div> <!-- end of web servers row 1 -->
    </div> <!-- end of web servers section -->
           <div class="divider"></div>

    <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Tools</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/tools/nodejs.jpg" alt="NodeJS Logo">         
                    </div>
                        <div class="card-content">
                          <p>NodeJS</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/tools/github.jpg" alt="Github Logo">         
                    </div>
                        <div class="card-content">
                          <p>Github</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/tools/homebrew.jpg" alt="Homebrew Logo">         
                    </div>
                        <div class="card-content">
                          <p>Homebrew</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/tools/sublime.jpg" alt="Sublime Text Logo">         
                    </div>
                        <div class="card-content">
                          <p>Sublime</p>
                        </div>
                </div>
            </div>

        </div> <!-- end of tools row 1 -->
    </div> <!-- end of tools section -->
 <div class="divider"></div>

<div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Design &amp; Photography</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/design/photoshop.jpg" alt="Adobe Photoshop Logo">         
                    </div>
                        <div class="card-content">
                          <p>Photoshop</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/design/illustrator.jpg" alt="Adobe Illustrator Logo">         
                    </div>
                        <div class="card-content">
                          <p>Illustrator</p>
                        </div>
                </div>
            </div>

            

        </div> <!-- end of design row 1 -->
    </div> <!-- end of design section -->
 <div class="divider"></div> 

 <div class="section">    
        <div class="row">
            <div class="col s12">  	      
      	      <h3>Audio &amp; Video</h3>
            </div>
        </div>
        <div class="row">
    	    <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/audio_video/premiere.jpg" alt="Adobe Premiere Logo">         
                    </div>
                        <div class="card-content">
                          <p>Premiere</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/audio_video/aftereffects.jpg" alt="Adobe After Effects Logo">         
                    </div>
                        <div class="card-content">
                          <p>After Effects</p>
                        </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
      		    <div class="card">
        	        <div class="card-image">
                    <img src="/images/technology/audio_video/audition.jpg" alt="Adobe Audition Logo">         
                    </div>
                        <div class="card-content">
                          <p>Audition</p>
                        </div>
                </div>
            </div>


        </div> <!-- end of audio/video row 1 -->
    </div> <!-- end of audio/video section -->


    </div> <!-- end of container tech -->
</div> <!-- end of section tech -->