@charset "UTF-8";

@import "materialize";

@import "additional";
@import "animate";

@media #{$medium-and-down} {
header, main, footer {
    padding-left: 0;
}
}

@media #{$medium-and-down} {
img.circle.responsive-img.experience {
    margin-left: 25%;
}
}

@media #{$medium-and-up} {
.card {
    max-width: 175px;
}
}

@media #{$medium-and-up} {
h2.white-text.experience1 {
    margin-top: 0;
}
h2.white-text.experience2 {
    margin-top: 11px;
}
h2.white-text.experience3 {
    margin-top: 11px;
}
}